.cart {
  color: #becae6;
  text-align: center;
  margin: 5px;
  font-size: 3em;
  margin: 100px;
}

.emptyCart {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  color: grey;
}

.item-qty {
  width: 20% !important;
}
