

.home{
    color: #BECAE6;
    text-align: center;
    margin: 5px;
    font-size: 3em;
}

.homePgCard {
    height: 60vh; 
    background-color: #e3e3e3;
    display: flex; 
    align-items: center;
}

.landscape {
    background-size: cover;
    overflow: hidden;
}