

.home{
    color: #BECAE6;
    text-align: center;
    margin: 5px;
    font-size: 3em;
    
}

.homePgCard {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.card-body {
    min-height: 175.54px;
}